In [2]:
#listas 
planetas = ['Mercurio', 'Venus', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

print(planetas)

['Mercurio', 'Venus', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

In [3]:
#listas, acceder por indice como los arreglos
print('El primer planeta es ', planetas[0])
print('El segundo planeta es ', planetas[1])
print('El tercer planeta es ', planetas[2])
print('El ultimo planeta es ', planetas[7])

El primer planeta es  Mercurio
El segundo planeta es  Venus
El tercer planeta es  Tierra
El ultimo planeta es  Neptuno

In [4]:
# modificar un lemento de la lista
planetas[3] = 'El planeta rojo'
print('Marte tambien es conocido como ', planetas[3])

Marte tambien es conocido como  El planeta rojo

In [5]:
#longitud funcion len
numero_de_planetas = len(planetas)
print('Hay ', numero_de_planetas, 'planetas en nuestro sistema solar.')

Hay  8 planetas en nuestro sistema solar.

In [6]:
# agregar valore con funcion append
planetas.append('Pluton')
numero_de_planetas = len(planetas)
print('En la actualidad hay ', numero_de_planetas, 'planetas en nuestro sistema solar.')

En la actualidad hay  9 planetas en nuestro sistema solar.

In [7]:
# Borrar un elemento (en especifico borra el ultimo elemento de la lista) de la lista con funcion pop
planetas.pop()  # Goodbye, Pluto
numero_de_planetas = len(planetas)
print(' aun que definitivamente hay ', numero_de_planetas, 'planetas en nuestro sitema solar.')

 aun que definitivamente hay  8 planetas en nuestro sitema solar.

In [9]:
#indices negativos
print('El ultimo planeta es', planetas[-1])
#muestra el utimo elemento
print('El penultimo planeta es', planetas[-2])
#muestra el penultimo

El ultimo planeta es Neptuno
El penultimo planeta es Urano

In [10]:
#Buscar un valor en una lista con funcion index
jupiter_indice = planetas.index('Jupiter')
print('Jupiter es el', jupiter_indice + 1, 'planeta desde el sol')

Jupiter es el 5 planeta desde el sol

In [11]:
#asignacion de flotantes a variables
gravedad_en_la_tierra = 1.0
gravedad_en_la_luna = 0.166

In [13]:
#listas con flotantes
gravedad_de_planetas = [0.378, 0.907, 1, 0.379, 2.36, 0.916, 0.889, 1.12]

print('La gravedad en Mercurio es', gravedad_de_planetas[0])

La gravedad en Mercurio es 0.378

In [14]:
# ejemplo de gravedad de camion en mercurio
peso_autobus = 12650 # en kilogramos

print('en la Tierra, un autobus de doble piso pesa ', peso_autobus, 'kg')
print('En Mercurio, un autobus de doble piso pesa',  peso_autobus * gravedad_de_planetas[0], 'kg')

en la Tierra, un autobus de doble piso pesa  12650 kg
En Mercurio, un autobus de doble piso pesa 4781.7 kg

In [15]:
#funcion min() y max()en listas
print('El min es: ',min(gravedad_de_planetas))

print('El max es: ',max(gravedad_de_planetas))

El min es:  0.378
El max es:  2.36

In [16]:
#ejemplo de min y max
peso_autobus = 12650 

print('en la Tierra, un autobus de doble piso pesa ', peso_autobus, 'kg')
print('El autobus mas ligero en nuestr sistema solas es ', peso_autobus * min(gravedad_de_planetas), 'kg')
print('El autobus mas pesado en nuestr sistema solas es', peso_autobus * max(gravedad_de_planetas), 'kg')

en la Tierra, un autobus de doble piso pesa  12650 kg
El autobus mas ligero en nuestr sistema solas es  4781.7 kg
El autobus mas pesado en nuestr sistema solas es 29854.0 kg

In [19]:
#manipulacion de datos con Slice
planetas = ['Mercurio', 'Venus', 'Tierra', 'Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']
planetas_antes_tierra = planetas[0:2] #el slice dice que solo saque del elemento 0 al 2
print(planetas_antes_tierra)

['Mercurio', 'Venus']

In [20]:
#segundo ejemplo slice
planetas_despues_tierra = planetas[3:8]
print(planetas_despues_tierra)

['Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

In [22]:
#tercer ejemplo slicen sin parametro de final
planetas_despues_tierra= planetas[3:]# asuem que empieza en 3 y va hasta el final
print(planetas_despues_tierra)

['Marte', 'Jupiter', 'Saturno', 'Urano', 'Neptuno']

In [23]:
# union de listas con +
amalthea_group = ['Metis', 'Adrastea', 'Amalthea', 'Thebe']
galilean_moons = ['Io', 'Europa', 'Ganymede', 'Callisto']

regular_satellite_moons = amalthea_group + galilean_moons
print('The regular satellite moons of Jupiter are', regular_satellite_moons)

The regular satellite moons of Jupiter are ['Metis', 'Adrastea', 'Amalthea', 'Thebe', 'Io', 'Europa', 'Ganymede', 'Callisto']

In [24]:
#ordenar lista con sort()

regular_satellite_moons.sort()
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Adrastea', 'Amalthea', 'Callisto', 'Europa', 'Ganymede', 'Io', 'Metis', 'Thebe']

In [25]:
#ordenamiento de forma inversa con sort()
regular_satellite_moons.sort(reverse=True)
print("The regular satellite moons of Jupiter are", regular_satellite_moons)

The regular satellite moons of Jupiter are ['Thebe', 'Metis', 'Io', 'Ganymede', 'Europa', 'Callisto', 'Amalthea', 'Adrastea']