In [3]:
#inmutabilidad
fact = 'The Moon has no atmosphere.'
fact+ 'No sound can be heard on the Moon.'
print(fact)
fact2=fact+ 'No sound can be heard on the Moon.'
print(fact2)

The Moon has no atmosphere.
The Moon has no atmosphere.No sound can be heard on the Moon.

In [5]:
# comillas
moon_radius = "The Moon has a radius of 1,080 miles"
ejemplo='The "near side" is the part of the Moon that faces the Earth'
ejemplo2="We only see about 60% of the Moon's surface"
#Error jamas escibir asi 'We only see about 60% of the Moon's surface'
print(moon_radius)
print(ejemplo)
print(ejemplo2)

The Moon has a radius of 1,080 miles
The "near side" is the part of the Moon that faces the Earth
We only see about 60% of the Moon's surface

In [8]:
#texto multilinea con \n
multiline = "Facts about the Moon:\n There is no atmosphere.\n There is no sound."
print(multiline)

#texto multilinea con comillas triple
multiline = """Facts about the Moon:
..  There is no atmosphere.
..  There is no sound."""
print(multiline)

Facts about the Moon:
 There is no atmosphere.
 There is no sound.
Facts about the Moon:
..  There is no atmosphere.
..  There is no sound.

In [10]:
#metodo title directo
'temperatures and facts about the moon'.title()

'Temperatures And Facts About The Moon'

In [11]:
#metodo title cob variable
heading = 'temperatures and facts about the moon'
heading.title()

'Temperatures And Facts About The Moon'

In [2]:
#split
temperatures = '''Daylight: 260 F
... Nighttime: -280 F'''
temperatures .split()

['Daylight:', '260', 'F', '...', 'Nighttime:', '-280', 'F']

In [14]:
#split 
temperatures .split('\n')

['Daylight: 260 F', '... Nighttime: -280 F']

In [15]:
#buscar cadena sin metodo
'Moon' in 'This text will describe facts and challenges with space travel'

False

In [16]:
#buscar cadena sin metodo
'Moon' in 'This text will describe facts about the Moon'

True

In [20]:
#buscar cadena con metodo
temperatures = """Saturn has a daytime temperature of -170 degrees Celsius,
... while Mars has -28 Celsius."""
temperatures.find('Moon')
#la funcion regresa la pocision de la de la palabra en la cadena, si no la encuentra regresa -1

-1

In [19]:
#buscar cadena con metodo
temperatures = """Saturn has a daytime temperature of -170 degrees Celsius,
... while Mars has -28 Celsius."""
temperatures.find('Mars')
#la funcion regresa la pocision de la de la palabra en la cadena, si no la encuentra regresa -1

68

In [22]:
#buscar palabra con count
temperatures.count('Mars')
#count nos dira cuantas veces se encuntra esta palabra dentro de la cadena

1

In [24]:
#lower
"PYTNON ES LO MAXIMO JUNTO CON LAUNCH X".lower()
#lower convierte la cadena a minusculas

'pytnon es lo maximo junto con launch x'

In [25]:
#upper
'pytnon es lo maximo junto con launch x'.upper()
#upper consierte la cadena a mayusculas

'PYTNON ES LO MAXIMO JUNTO CON LAUNCH X'

In [5]:
# extraer texto en cadena con split()
temperatures = 'Mars Average Temperature: -60 C'

In [6]:
# extraer texto en cadena con split()

parts = temperatures.split(':')
parts

print(parts)

['Mars Average Temperature', ' -60 C']

In [7]:
# extraer texto en cadena con split()
parts[-1]
#usando [-1] nos devuelve el ultimo elemento

' -60 C'

In [11]:
#texto irregular con for
mars_temperature = 'The highest temperature on Mars is about 30 C'
for item in mars_temperature.split():
     if item.isnumeric():
        print(item)

30

In [13]:
# funcion starswith , comienza con 
'-60'.startswith('-')

True

In [14]:
# funcion endswith , termina con 
if "30 C".endswith("C"):
    print("This temperature is in Celsius")

This temperature is in Celsius

In [16]:
# funcion replace , emplaza
'Saturn has a daytime temperature of -170 degrees Celsius, while Mars has -28 Celsius.'.replace('Celsius', 'ºC')

'Saturn has a daytime temperature of -170 degrees ºC, while Mars has -28 ºC.'

In [17]:
# ejemplo de lower
text = 'Temperatures on the Moon can vary wildly.'
'temperatures' in text

False

In [18]:
# ejemplo de lower
'temperatures' in text.lower()

True

In [20]:
#metodo Join
moon_facts = ['The Moon is drifting away from the Earth.', 'On average, the Moon is moving about 4cm every year']
' '.join(moon_facts)
#' ' se utiliza como el caracter que une las cadenas

'The Moon is drifting away from the Earth. On average, the Moon is moving about 4cm every year'

In [21]:
#formato de cadenas con %
mass_percentage = '1/6'
print('On the Moon, you would weigh about %s of your weight on Earth' % mass_percentage)
#funciona como cuando imprimias variables tipo string en lenguaje C

On the Moon, you would weigh about 1/6 of your weight on Earth

In [23]:
#formato de cadenas con % multiples
print("""Both sides of the %s get the same amount of sunlight,
but only one side is seen from %s because
    the %s rotates around its own axis when it orbits %s.""" % ('Moon', 'Earth', 'Moon', 'Earth'))

Both sides of the Moon get the same amount of sunlight,
but only one side is seen from Earth because
    the Moon rotates around its own axis when it orbits Earth.

In [24]:
#formato de cadenas con funcion format()
mass_percentage = '1/6'
print('On the Moon, you would weigh about {} of your weight on Earth'.format(mass_percentage))

On the Moon, you would weigh about 1/6 of your weight on Earth

In [25]:
#formato de cadenas con funcion format() y multiples 
print("""You are lighter on the {0}, because on the {0} 
... you would weigh about {1} of your weight on Earth""".format("Moon", mass_percentage))

You are lighter on the Moon, because on the Moon
... you would weigh about 1/6 of your weight on Earth

In [26]:
#otra forma de usar format
print(f'On the Moon, you would weigh about {mass_percentage} of your weight on Earth')

On the Moon, you would weigh about 1/6 of your weight on Earth

In [28]:
#funcion Round, convierte una fraccion a decimal
round(1/3, 7)
#el primer paramaetro es la fraccion , el segundo parametro es la cantidad de decimales

0.3333333

In [29]:
#f con funcion rond
print(f'On the Moon, you would weigh about {round(100/6, 1)}% of your weight on Earth')

On the Moon, you would weigh about 16.7% of your weight on Earth

In [30]:
#f con funcion title
subject = 'interesting facts about the moon'
f'{subject.title()}'

'Interesting Facts About The Moon'